name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    name: ${{ matrix.output }}
    strategy:
      fail-fast: false
      matrix:
        output:
          # - keith-xps
          # - keith-desktop
          # - kwbauson
          # - keith-vm
          # - keith-mac

          - checks
          # - checks-mac
    runs-on: ${{ ! endsWith(matrix.output, '-mac') && 'ubuntu' || 'macos' }}-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v13
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210207_fd6eaa1/install
          extra_nix_config: |
            experimental-features = nix-command flakes ca-references
            connect-timeout = 10
            download-attempts = 5
      - uses: cachix/cachix-action@v10
        with:
          name: kwbauson
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - run: nix -vL build .#${{ matrix.output }} || nix -vL build .#${{ matrix.output }}
      - name: note build path
        uses: nick-invision/retry@v2
        with:
          max_attempts: 3
          command: |
            git config user.name "$(git log -1 --pretty=format:'%an')"
            git config user.email "$(git log -1 --pretty=format:'%ae')"
            git fetch origin 'refs/notes/*:refs/notes/*'
            git notes append --message "${{ matrix.output }}=$(cd result && pwd -P)"
            git push origin 'refs/notes/*'
