name: build
on: { workflow_dispatch, push }
jobs:
  cached-refs:
    concurrency: { group: cached-refs }
    strategy:
      matrix:
        system: [x86_64-linux, aarch64-darwin]
    runs-on: [nix, "${{ matrix.system }}"]
    env:
      system: ${{ matrix.system }}
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Run create-cached-refs
        run: |
          nix run .#create-cached-refs -- push /nix/store/99qjarx4yjwh0ik9xl9idw0jd270l26m-hello-2.12.2 --tag "$system"
