name: Build
on: [workflow_dispatch, push]
jobs:
  build:
    runs-on: self-hosted
    env:
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
    steps:
      - run: nix -vL build github:$GITHUB_REPOSITORY/$GITHUB_SHA
      - run: cachix push kwbauson result
