name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    name: ${{ matrix.output }}
    strategy:
      fail-fast: false
      matrix:
        output:
          - keith-xps
          - keith-desktop
          - kwbauson
          - keith-vm
          - keith-mac

          - checks
          - checks-mac
    runs-on: ${{ ! endsWith(matrix.output, '-mac') && 'ubuntu' || 'macos' }}-latest
    steps:
      - uses: actions/setup
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v12
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210207_fd6eaa1/install
          extra_nix_config: experimental-features = nix-command flakes ca-references
      - uses: cachix/cachix-action@v8
        with:
          name: kwbauson
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - run: nix build .#${{ matrix.output }}
      - run: cd result && pwd -P
