name: Build
on: { workflow_dispatch, push: { branches: [main] }, pull_request }
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - run: nix -vL --show-trace build
