name: Check for updates
on: { workflow_dispatch, schedule: [cron: '0 0 * * *'] }
jobs:
  check-for-updates:
    runs-on: self-hosted
    env:
      GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - run: nix -vL run .#nle.unwrapped update
      - run: nix -vL run .#nle.unwrapped generate
      - run: nix eval --raw .#output-paths > output-paths
      - uses: peter-evans/create-pull-request@v3
        id: cpr
        with:
          delete-branch: true
          title: Automatic update
          commit-message: Automatic update
          branch: automatic-update
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - run: gh pr merge --auto --squash ${{ steps.cpr.outputs.pull-request-url }}
