name: updates
run-name: updates-${{ inputs.source || 'all' }}
on:
  workflow_dispatch:
    inputs:
      source: { type: string }
  schedule: [cron: '0 7 * * *']
jobs:
  updates:
    name: updates-${{ inputs.source || 'all' }}
    runs-on: [nix, Linux, X64]
    env:
      GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v6.0.1
      - run: nix run .#updates.${{ inputs.source || 'all' }}
      - uses: peter-evans/create-pull-request@v7.0.11
        id: cpr
        with:
          author: Keith Bauson <kwbauson@gmail.com>
          title: "${{ inputs.source || 'all' }}: update"
          commit-message: "${{ inputs.source || 'all' }}: update"
          branch: updates-${{ inputs.source || 'all' }}
          delete-branch: true
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - if: ${{ steps.cpr.outputs.pull-request-number }}
        run: gh pr merge --auto --squash ${{ steps.cpr.outputs.pull-request-url }}
